body{
    margin: auto;
}
a{
    text-decoration: none
}
/* Header Start */
header{
    height: 60px;
    /* border: 2px solid green; */
    background-color:#7e360cf5;
   
    

}
#iconHeading{
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    margin-left: 45%;
    margin-top: 1%;
    color: beige;
}

#icon{
    float:left
}

#social{
    float:right
}

.slogo{
    height: 50px;
    width: 50px;
}
#heading{
    text-align: center;
}
.mainContent{
    height:1221px;
    width:75%;
    margin-left:13%
}
#filter{
    height:500px;
    width:22%;
    border:2px solid red;
    float: left;
}
#card{
    height:1221px;
    width:75%;
    border:2px solid orange;
    margin-left:2%;
    float: left;
}
.tilecontent{
    height: 200px;
    width: 76%;
    float: left;
    margin-top: 10%;
    margin-left:11%;
     /* border: 2px solid black;  */
     box-shadow: -18px -16px 21px rgb(0 0 0);
}
   
    /* box-shadow: -18px -16px 21px rgb(0 0 0); */

.cont1{
    width: 48%;
    height: 200px;
     float: left; 
     /* background-color: aqua; */
}
.cont1>img{
    width: 101%;
    height: 200px;
}
.cont2{
    width:52%;
    height: 200px;
    /* background-color: blue; */
    float: left;
    background-color: beige;
}

 .RestName{
    position: absolute;
    margin-left: 5%;
    font-weight: bold;
    font-size: larger;
} 
 .Cuisine{
    /* border: 2px solid purple; */
    width:91%;
    height: 50px;
    margin-top: 22%;
    margin-left: 5%;
    /* background-color: #0e830e; */



    
} 
.SouthIndian{
    width:28%;
    height:20px;
    box-shadow: -3px 5px 22px rgb(0 0 0);
    float:left;
    margin-top: 5%;
    margin-left: 4%;
    background-color: #419e91e3;


}
.SouthIndian>a{

}

.NorthIndian{
    width:28%;
    height:20px;
    box-shadow: -3px 5px 22px rgb(0 0 0);
    float:left;
    margin-top: 5%;
    margin-left: 2%;
    background-color: #f0f048;

}
.Chineese{
    width:28%;
    height:20px;
    box-shadow: -3px 5px 22px rgb(0 0 0);
    float:left;
    margin-top: 5%;
    margin-left: 2%;
    background-color: #e29913;
    
}
.Chineese>a{
    margin-left: 14%;
}
.Veg{
    background-color:#0e830e;
    margin-top: 17%;
    margin-left: 1%;
    color: beige;
    text-align: center;
    border-radius: 11%;
    
}
/* footer Start */
 footer{
    height:200px;
    background-color:#7e360cf5;
    
} 

.foot1{
    width:35%;
    height:120px;
    float: left;
    border-right:2px solid white
} 